<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <div class="row" id="header" style="background-image: url(http://via.placeholder.com/1400x150?text=Banner)">
        <br>
        <h1 style="color: darkslategray;margin-left: 15px;margin-right: 15px;padding: 5px;">VT JUNOON <small><i>where dance meets the future...</i></small></h1>
        <br> </div>
    <div class="" id="navigationBar">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header" style="margin-left: 10px;margin-right: 10px"> <a class="navbar-brand" href="../">VT Junoon</a> </div>
                <ul class="nav navbar-nav">
                    <li class="active" style="margin-left: 20px;margin-right: 20px"><a href="#">About Us</a></li>
                    <li style="margin-left: 20px;margin-right: 20px"><a href="#">People</a></li>
                    <li style="margin-left: 20px;margin-right: 20px"><a href="#">Gallery</a></li>
                    <li style="margin-left: 20px;margin-right: 20px"><a href="#">Fund Us</a></li>
                    <li style="margin-left: 20px;margin-right: 20px"><a href="#">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li style="margin-left: 20px;"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li style="margin-left: 20px;margin-right: 20px"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
    </div>
    
    <div class="" id="aboutpage">
        <div class="col-md-8">
            <div id="example1" class="text-justify">
                <h3>Introduction</h3>
                <div class="row">
                    <div class="col-md-8"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <br> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        <br>
                        <br> </div>
                    <div class="col-md-4"> <img src="https://picsum.photos/300/200" alt="logo" class="img-thumbnail"> </div>
                </div>
                <h4>Detail Descriptions</h4> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. </div>
        </div>
        <div class="col-md-4">
            <div class="row text-center">
                <p>
                    <input placeholder="Search events and content" style="width:200px;margin-right: 10px;"><span class="glyphicon glyphicon-search"></span></p>
            </div>
            <div class="row text-center"> <img src="imgs/calendar.png" style="height: 240;width: 180;">
                <br> </div>
            <div class="text-center" style="margin-left: 50px;margin-right: 50px;">
                <br>
                <table class="table" style="border: 1px solid">
                    <thead>
                        <th class="text-center">Announcements and Recent Posts</th>
                    </thead>
                    <tbody>
                        <tr class="text-center" style="color: darkslategray">
                            <td>Performing at Squires on 20th !!! </td>
                        </tr>
                        <tr class="text-center" style="color: darkslategray">
                            <td>New members join team !! Welcome !! </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>