


    {% load static %}
    <div class="container">

    </div>

    <div style="margin-top:20px;">
        <!--<br><br><br><br><br><br><br>-->
        <hr>

        <table width="100%" border="0">
          <tr>
              <td><img id="logo" src="{% static 'img/dancing.png' %}" style="height:50px"></td>
              <td><h4> Join the squad </h4></td>
              <td><img id="fb" src="{% static 'img/fb.png' %}" style="height:50px"></td>
              <td><img id="twitter" src="{% static 'img/twitter.png' %}" style="height:50px"></td>
              <td><img id="insta" src="{% static 'img/insta.png' %}" style="height:50px"></td>
              <td><img id="youtube" src="{% static 'img/youtube.png' %}" style="height:50px"></td>
              <td style="width:250px"></td>
              <td><img id="cp" src="{% static 'img/copyright.png' %}" style="height:50px"></td>
              <td><h4> Copyright by VT Junoon </h4></td>
          <!--<td><img src="@Url.Content("~/images/image1.bmp")" alt="" align="left" /></td>-->
          <!--<td><img src="@Url.Content("~/images/image2.bmp")" alt="" align="center" /></td>-->
          <!--<td><img src="@Url.Content("~/images/image3.bmp")" alt="" align="right"/></td>-->
          </tr>
        </table>
    </div>

    <script type="text/javascript">
      window._mfq = window._mfq || [];
      (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/4cfb0680-9434-4025-a0f0-15ab6a219659.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    </script>

</body>

</html>